---
layout: default
---

{% include nav.html %}
<div class="nav-margin container pilot-text">
	<div class="row">
		<h3>Sign Up</h3>
		<p>
			Want to have a simple and paperless employment record keeping process?
			<br>Join the pilot and Cohelix is yours for free, for 3 months. 
		</p>
	</div>

	<div class="row">
		<form class="contact-form">
			<input class="u-full-width" name="name" type="text" placeholder="Full name..." id="name" novalidate>
			<input class="u-full-width" name="email" type="email" placeholder="Email address..." id="email" novalidate>
			<input class="u-full-width" name="role" type="text" placeholder="What's your role? E.g. Manager, owner..." id="role" novalidate>
			<input class="u-full-width" name="business-name" type="text" placeholder="Establishment/Business name..." id="business-name" novalidate>
		    <a class="button button-primary submit-button">Sign Up</a>
		</form>	
		<div class="thanks">
			<h5>Thanks for signing up to the pilot. Cohelix is currently under development, we will be in touch as soon as it's ready to go.</h5>
		</div>
	</div>

	<div class="row">
		<h5>About the Pilot</h5>
		<p>
			We want to make Cohelix as useful as possible to all hospitality and retail businesses. But we can only do this through your feedback. 
		</p>
		<p>
			Cohelix is currently in development. However, when it is ready we’d love for you to try Cohelix and hear what you think. 
		</p>
		<p>
			We’ll let you use Cohelix free of charge for a month. In return we’ll spend 30 mins with you each week to get your feedback on how Cohelix works for you. Your input will enable us to optimise the product to better meet your needs. 
		</p>
		<p><strong>
			 And to say thank you for your help, you'll receive the first three months of Cohelix for free.
		</strong></p>
		<p>
			There is no commitment. You can withdraw your interest in the pilot programme at any time. 
		</p>
		<p><strong>
			If you have any questions please do not hesitate to <a href="contact.html">contact us.</a>
		</strong></p>
	</div>
</div>

{% include form-js.html %}