h1, h2, h3, h4, h5 {
  font-family: $heading-font;
  font-weight: 600;
}

h2 {
 margin-bottom: 5rem;
 font-weight: 600;
}

p, li {
  font-family: $body-font;
}

.button {
  font-size: 1.3rem;
  color: white;
  margin: 1rem;

  &:hover {
    color: white;
  }

  &.button-primary {
    border-color: $bright-green;
    background-color: $bright-green;

    &:hover {
      border-color: $cohelix-orange;
      background-color: $cohelix-orange;
    }
  }
}

