// Fonts
$heading-font: 'Lato', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Brand Colours
$cohelix-blue: #0071BB;
$cohelix-gray: #373D41;
$cohelix-orange: #FF8E00;
$cohelix-pink: #EE3A83;

// Other Colours
$bright-green: #00C667;
$light-gray: #F2F2F2;
