.hero {
  min-height: 80vh;
  background: url('/images/cafe.jpg') no-repeat center center;
  background-size: cover;
  color: white;
}

.hero-primary-heading {
  margin: 7rem 0 10rem 0;
}

.hero-secondary-heading {
  margin: 10rem 0 5rem 0;
}

.email-form {
  margin: 0 1rem 0 0;
  min-width: 10rem;
  color: black;
  font-size: 1.6rem;
}

.button.button-primary {
  border-color: #4ECC1D;
  background-color: #4ECC1D;
  font-size: 1.3rem;
}

.section {
  padding: 8rem 0 7rem 0;
  text-align: center;
}

#contact {
  min-height: 80vh;
  background-color: rgb(5, 95, 153);
  color: white;
}

.survey-form {
  display: none;
}

.thanks {
  display: none;
}

.logo img {
  width: 100px;
}

.logo h1 {
  font-weight: 600;
}
